/*------------------custom bootstrap---------------------*/
.nav-tabs {
  border-bottom: none;
}
.nav-tabs > li > a:hover {
  border-color: none;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
  color: black;
  cursor: default;
  background-color: rgba(0,0,0,0);
  border: none;
  border-bottom-color: transparent;
}
.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
	width: 980px;
}
.nav > li > a:hover { background-color: transparent; }
.nav-tabs > li > a:hover { border-color: transparent; }
.carousel-control{
	background: transparent;
	border: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	opacity: 1;
	filter: alpha(opacity=100);
}
.carousel-control:hover{ opacity: 1; }
.table th, .table td { text-align: center; }
a, a:hover { color: #fff; text-decoration: none; }
textarea{ resize: none; }
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #e61e26;

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #e61e26;
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #e61e26;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #e61e26;
}
/*------------------------------------------------------*/
/*-------------------------HEADER-----------------------*/
body{ background: url('../img/bg_matrix.png'); min-width: 1280px}
header { position: relative; }
#header_shadow{
	box-shadow: 0px 0px 50px rgb(230, 22, 22);
	-moz-box-shadow: 0px 0px 50px rgb(230, 22, 22);
	-webkit-box-shadow: 0px 0px 50px rgb(230, 22, 22);
	margin-top: -10px;
	height: 10px;
}
#half_header_bg{
	background: url('../img/header.png');
	height: 110px;
    width: 50%;
    position:absolute;
    left:-490px;
    top:40px;
}
#bg_header_bgn{
	background:#FFF url('../img/header.png');
	height: 75px;
	padding-top: 35px;
	margin-left: 0px;
}
#bg_header_end{
	background: url('../img/header_corner.png') no-repeat;
	height: 75px;
	padding-top: 35px;
	margin-left: 0px;}
#logo_2D{
	background: url('../img/20D_logo.png') no-repeat;
	height: 41px;
	width: 248px;
}
.header_menu_item{
	height: 32px; width: 112px;
	padding-top: 15px;
	margin-top: -15px;
	font: Trebuchet MS; font-weight: bold; font-size: 14px;
	text-align: center;
	color: #2b2b2b;
}
.header_menu_item:hover{
	background: url('../img/selected_btn.png') no-repeat;
	color: #e61e26;
}
.active_menu_header{
	background: url('../img/selected_btn.png') no-repeat;
	color: #e61e26;
}
#twitter{
	background: url('../img/twitter.png') no-repeat;
	height: 24px; width: 24px;
}
#facebook{
	background: url('../img/facebook.png') no-repeat;
	height: 24px; width: 24px;
}
#logo_2D:hover, #twitter:hover, #facebook:hover, #left div:hover, #right div:hover{ background-position-y: bottom; }
/*------------------------------------------------------*/
/*---------------Secondary HEADER-----------------------*/
#mapa{
	border: 2px solid #7c0607;
}
.header_width{ width: 100%; height: 257px; }
#letrero{
	background-color: rgba(255, 129, 129, 0.4);
	width: 300px;
	height: 46px;
	position: relative;
	margin-top: -180px;
	margin-left: 150px;
	padding: 18px;
	color: rgb(231, 28, 28);
	font-size: 12pt;
}
#contactenos{
	font-size: 20pt;
	font-weight: bold;
}
#slider_content{ width: 1350px; }
#slider_content .item .offset3{ padding-top: 30px; margin-left: 205px; }
#slider_content .item h1{
	font: Corbel; font-size: 37px;
	color: #FFF;
}
#slider_content .item p{
	font: Corbel; font-size: 20px;
	color: #f0b7b7;
}
#left, #right{
	left: 50%;
    position: absolute;
}
#left{ margin-left: -650px; } #right{ margin-left: 610px; }
#left div{
	background: url('../img/left_arrow.png') no-repeat;
	height: 46px; width: 31px;
}
#right div{
	background: url('../img/right_arrow.png') no-repeat;
	height: 46px; width: 31px;
}
#slider{
	background: url('../img/slider_bg.png') no-repeat;
	background-size: 100% 100%;
	height: 257px;
	padding-top: 40px;
	min-width: 1280px;
	overflow: hidden;
}
.server{
	background: url('../img/server_image.png') no-repeat;
	height: 277px; width: 496px;
}
/*----------------------------------------------*/
/*---------------CONTENT---------------------------*/
.no_border{ border: none !important; }
.style1{
	font: Verdana; font-size: 16pt;
	color: #303030 ;
	border-top: none !important;
	border-left: none !important;
}
.more_info{/*style2*/
	font: verdana; font-size: 12pt;
	color: #303030;
	border-left: none !important;
}
.more_info > div{
	background: url('../img/ask_button.png') no-repeat;
	width: 18px; height: 18px;
	float: left;
	margin-right: 10px;
}
.more_info > div:hover, .more_info{
	background-position: bottom;
	cursor: pointer;
}
.style3{
	font: Verdana; font-size: 16pt;
	color: #fff;
	background-color: #c45f63;
	border: solid 1px #af4347 !important;
}
.style4{
	font: Verdana; font-size: 16pt;
	color: #fff;
	background-color: #b8393e;
	border: solid 1px #7c0607 !important;
}
.style5{
	font: Verdana; font-size: 12pt;
	color: #b2262b;
	background-color: #f9f2f2;
	border: solid 2px #7c0607 !important;
	border-bottom: solid 0px #7c0607 !important;
}
.style61, .style62, .style7{
	font: Verdana; font-size: 12pt;
	color: #278a00;
	border: solid 1px #bbb !important;
	font-weight: bold;
}
.style61{
	background-color: #e9e9e9;
	border: solid 1px #bbb !important;
}
.style62{
	background-color: #f4f4f4;
}
.style7{
	color: #303030;
}
.style8{
	font: Verdana; font-weight: bold; font-size: 12pt;
	color: #303030;
	border-bottom: 1px solid #bbb;
	padding-left: 35px !important;
}
.style9{
	background: url('../img/contact_btn.png') no-repeat;
	height: 27px; width: 107px;
	font: Verdana; font-size: 10pt;
	color: #fff;
	padding-top: 4px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 18px;
}
.style9:hover{ background-position: bottom; }
.recom{
	border-left: solid 2px #7c0607 !important;
	border-right: solid 2px #7c0607 !important;
 }
 .recom_end{
 	border: solid 2px #7c0607 !important;
	border-top: solid 1px #bbb !important;
}
.more_info, #costo{ text-align: left !important; color: black; }
.tick{
	background: url('../img/tick_green.png') no-repeat;
	width: 19px; height: 15px;
	margin-left: 60px; margin-top: 3px;
}
/*--------------*/
#content {
	padding: 50px;
	padding-top: 30px;
	background-color: rgba(255,255,255,0.6);
	box-shadow: 0px 0px 15px black;
	-moz-box-shadow: 0px 0px 15px black;
	-webkit-box-shadow: 0px 0px 15px black;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
#content > p{ font: Verdana; font-size: 11pt; color: #303030 }
.sent_btn{
	background: url('../img/send_message.png') no-repeat;
	font: Verdana; font-size: 12pt; color: #fff;
	border: none;
	height: 45px;
}
.sent_btn:hover{ background-position: bottom left; }
/*------------------------------------------------*/
/*---------------FOOTER---------------------------*/
footer{
	background: url('../img/footer_texture.png') no-repeat; background-size: 100% 100%;
	height: 201px;
}
#logo_footer{
	background: url('../img/logo-white.png') no-repeat;
	width: 159px; height: 26px;
}
#content_footer{ padding: 30px; }
#minimapa{ margin-left: 0px; }
#direccion{ font: Corbel; font-size: 10pt; color: #FFF; padding-top: 10px; }
#div_line{
	background-color: black;
	width: 1px;
	height: 198px;
	float: left;
	margin-top: -28px;
}
.footer_menu_item{
	height: 32px; width: 112px;
	padding-top: 15px;
	margin-left: 10px;
	font: Trebuchet MS; font-weight: bold; font-size: 14px;
	text-align: center;
	color: #FFF;
}
#under_logo{
	opacity:0.8;
	background: url("../img/20_big.png") no-repeat;
	width: 1284px;
	height: 485px;
	position: relative;
	left: 50%;
	margin-left: -1260px;
	margin-top: -394px;
	z-index: -1;
}
.footer_menu_item:hover{ background: url('../img/selected_btn_footer.png') no-repeat; }
.active_menu_footer{ background: url('../img/selected_btn_footer.png') no-repeat; }
.inner_sep{ margin-bottom: 30px; }
